#renderingContainer{
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
}
#render3d,#render2d{
    width:inherit;
    height:inherit;
    position:inherit;
    top:inherit;
    left:inherit;
}